/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; /* Agrega espacio entre el h1 y el formulario */
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limita el tamaño del formulario */
    margin: 0 auto;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

/* EL estilo de los campos */
input[type="text"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/*el ojito */
.contenedor-pass {
    display: flex;
    align-items: center;
}
.icono-ojo {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

input[type="password"]{
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}



button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Mensajes de error */
.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: -10px;
    margin-bottom: 15px;
}



#barra-fuerza {
    width: 100%;
    height: 10px;
    background: lightgray;
    margin-top: 5px;
    border-radius: 5px;
}
#fuerza-indicador {
    height: 100%;
    width: 0%;
    transition: width 0.3s;
}
.debil { background: red; }
.medio { background: orange; }
.fuerte { background: green; }